<div class="article-preview">
  <div class="article-meta">
    <a href="/profile/{{author.username}}">
      {{#if author.image}}
      <img src="{{author.image}}" />
      {{else}}
      <img src="https://static.productionready.io/images/smiley-cyrus.jpg" />
      {{/if}}
    </a>
    <div class="info">
      <a href="/profile/{{author.username}}" class="author">{{author.username}}</a>
      <span class="date">{{dateString createdAt}}</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> {{favorites}}
    </button>
  </div>
  <a href="/article/{{slug}}" class="preview-link">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <span>Read more...</span>
  </a>
</div>
