<div class="article-preview">
  <div class="article-meta">
    {{>article-author-widget}}
    {{#if favorited}}
      <button
        class="btn btn-primary btn-sm pull-xs-right" data-favorite-button="{{slug}}"
        data-favorite-button-favorited="">
    {{else}}
      <button
        class="btn btn-outline-primary btn-sm pull-xs-right" data-favorite-button="{{slug}}">
    {{/if}}
      <i class="ion-heart"></i> <span data-favorite-button-count="">{{favoritesCount}}</span>
    </button>
  </div>
  <a href="/article/{{slug}}" class="preview-link">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <span>Read more...</span>
    {{#if tagList}}
      <ul class="tag-list">
      {{#each tagList}}
        <li class="tag-default tag-pill tag-outline">{{this}}</li>
      {{/each}}
      </ul>
    {{/if}}
  </a>
</div>
