<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{#if title }}{{title}} — {{/if}}Conduit</title>
    <!-- Import Ionicon icons & Google Fonts our Bootstrap theme relies on -->
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <!-- Import the custom Bootstrap 4 theme from our hosted CDN -->
    <link rel="stylesheet" href="//demo.productionready.io/main.css">
    
    {{!-- Include livereload script for automatic code reloading in development --}}
    {{#if ENV_DEVELOPMENT}}
      <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}

    <meta name="csrf-token" content="{{csrfToken}}">

    <script type="text/javascript">
      var process = window.process = window.process || {} 
      var env = window.process.env = window.process.env || {};
      var updates = {{{ENV_JSON}}};
      // Inspired by Create React App solution
      // https://facebook.github.io/create-react-app/docs/adding-custom-environment-variables
      Object.keys(updates).forEach(function (key) {
        env[key] = updates[key];
      })
    </script>

    <script src="/build/polyfills.js" defer data-turbolinks-eval="false"></script>
    <script src="/build/main.js" defer></script>

    {{#each extraScripts}}
      <script src="{{this}}" defer></script>
    {{/each}}


    <meta name="turbolinks-cache-control" content="no-preview">
  </head>
  <body>

    {{> navbar }}

    {{{ body }}}

    <footer>
      <div class="container">
        <a href="/" class="logo-font">conduit</a>
        <span class="attribution">
          An interactive learning project from <a href="https://thinkster.io">Thinkster</a>. Code &amp; design licensed under MIT.
        </span>
      </div>
    </footer>

  </body>
</html>