<div class="article-page">

  <div class="banner">
    <div class="container">

      <h1>{{article.title}}</h1>

      {{>article-meta article}}
    </div>
  </div>

  <div class="container page">

    <div class="row article-content">
      <div class="col-md-12">
        {{{article.html}}}
      </div>
    </div>

    <hr />

    <div class="article-actions">
      {{>article-meta article}}
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-8 offset-md-2">

        {{#if errorMessages}}
          <ul class="error-messages">
            {{#each errorMessages}}<li>{{this}}</li>{{/each}}
          </ul>
        {{/if}}


        {{#if user}}
          <form class="card comment-form" action="/article/{{article.slug}}/comments" method="POST">
            <div class="card-block">
              <textarea name="body" class="form-control" placeholder="Write a comment..." rows="3"></textarea>
            </div>
            <div class="card-footer">
              {{#if user.image}}
                <img src="{{user.image}}" class="comment-author-img">
              {{else}}
                <img src="https://static.productionready.io/images/smiley-cyrus.jpg" class="comment-author-img">
              {{/if}}
              <button class="btn btn-sm btn-primary" type="submit">
              Post Comment
              </button>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
          </form>
        {{/if}}

        {{#each article.comments}}
          <div class="card">
            <div class="card-block">
              <p class="card-text">{{body}}</p>
            </div>
            <div class="card-footer">
              <a href="/profile/{{uc author.username}}" class="comment-author">
                <img src="http://i.imgur.com/Qr71crq.jpg" class="comment-author-img" />
              </a>
              &nbsp;
              <a href="/profile/{{uc author.username}}" class="comment-author">{{author.username}}</a>
              <span class="date-posted">{{dateString createdAt}}</span>

              {{#if mine}}
                <span class="mod-options">
                  <button class="btn btn-outline-danger btn-sm" form="delete-comment-form">
                    <i class="ion-trash-a"></i>&nbsp;Delete
                  </button>
                  <form
                    style="visibility:collapse" id="delete-comment-form"
                    action="/article/{{../article.slug}}/comments/{{id}}/delete" method="POST">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                  </form>
                </span>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <form
    id="delete-post-form" action="/article/{{article.slug}}/delete"
    method="POST" style="visibility: collapse">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </form>
</div>

<script type="text/javascript" src="/build/polyfills.js"></script>
<script type="text/javascript" src="/build/favorite-button.js"></script>
